<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 日志文件 appender定义 -->
	<!-- console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%thread] %-5level %F{16} [%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- all appender -->
	<appender name="allLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/oauth.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>logs/history/oauth.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%thread] %-5level %F{16} [%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- error appender -->
	<appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<File>logs/goods.error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/history/oauth.error.log.%d{yyyy-MM-dd}</FileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%thread] %-5level %F{16} [%M:%L] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<logger name="com.faithbj.oauth.as.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="allLog" />
		<appender-ref ref="errorLog" />
	</logger>
	<logger name="com.faithbj.oauth.as" level="INFO" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="allLog" />
		<appender-ref ref="errorLog" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="allLog" />
		<appender-ref ref="errorLog" />
	</root>

</configuration>
