<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faithbj.oauth.as.mapper.OauthClientDetailsMapper">
  <resultMap id="BaseResultMap" type="com.faithbj.oauth.as.domain.OauthClientDetails">
    <id column="client_id" jdbcType="CHAR" property="clientId" />
    <result column="resource_ids" jdbcType="VARCHAR" property="resourceIds" />
    <result column="client_secret" jdbcType="VARCHAR" property="clientSecret" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="authorized_grant_types" jdbcType="VARCHAR" property="authorizedGrantTypes" />
    <result column="web_server_redirect_uri" jdbcType="VARCHAR" property="webServerRedirectUri" />
    <result column="authorities" jdbcType="VARCHAR" property="authorities" />
    <result column="access_token_validity" jdbcType="INTEGER" property="accessTokenValidity" />
    <result column="refresh_token_validity" jdbcType="INTEGER" property="refreshTokenValidity" />
    <result column="additional_information" jdbcType="VARCHAR" property="additionalInformation" />
    <result column="autoapprove" jdbcType="VARCHAR" property="autoapprove" />
  </resultMap>
  
  <resultMap id="OauthClientDetailsMap" type="com.faithbj.oauth.as.domain.OauthClientDetail">
    <id column="client_id" jdbcType="CHAR" property="clientId" />
    <result column="resource_ids" jdbcType="VARCHAR" property="resourceId" />
    <result column="client_secret" jdbcType="VARCHAR" property="clientSecret" />
    <result column="scope" jdbcType="VARCHAR" property="scopes" />
    <result column="authorized_grant_types" jdbcType="VARCHAR" property="authorizedGrantType" />
    <result column="web_server_redirect_uri" jdbcType="VARCHAR" property="webServerRedirectUris" />
    <result column="authorities" jdbcType="VARCHAR" property="authoritie" />
    <result column="access_token_validity" jdbcType="INTEGER" property="accessTokenValidity" />
    <result column="refresh_token_validity" jdbcType="INTEGER" property="refreshTokenValidity" />
    <result column="additional_information" jdbcType="VARCHAR" property="additionalInformation" />
    <result column="autoapprove" jdbcType="VARCHAR" property="autoapprove" />
  </resultMap>
  
  
  
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    client_id, resource_ids, client_secret, scope, authorized_grant_types, web_server_redirect_uri, 
    authorities, access_token_validity, refresh_token_validity, additional_information, 
    autoapprove
  </sql>
  <select id="selectByExample" parameterType="com.faithbj.oauth.as.domain.OauthClientDetailsCriteria" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oauth_client_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectByClientId" parameterType="java.lang.String" resultMap="OauthClientDetailsMap">
    select 
    <include refid="Base_Column_List" />
    from oauth_client_details
    where client_id = #{clientId,jdbcType=CHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from oauth_client_details
    where client_id = #{clientId,jdbcType=CHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from oauth_client_details
    where client_id = #{clientId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.faithbj.oauth.as.domain.OauthClientDetailsCriteria">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from oauth_client_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.faithbj.oauth.as.domain.OauthClientDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into oauth_client_details (client_id, resource_ids, client_secret, 
      scope, authorized_grant_types, web_server_redirect_uri, 
      authorities, access_token_validity, refresh_token_validity, 
      additional_information, autoapprove)
    values (#{clientId,jdbcType=CHAR}, #{resourceIds,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, 
      #{scope,jdbcType=VARCHAR}, #{authorizedGrantTypes,jdbcType=VARCHAR}, #{webServerRedirectUri,jdbcType=VARCHAR}, 
      #{authorities,jdbcType=VARCHAR}, #{accessTokenValidity,jdbcType=INTEGER}, #{refreshTokenValidity,jdbcType=INTEGER}, 
      #{additionalInformation,jdbcType=VARCHAR}, #{autoapprove,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.faithbj.oauth.as.domain.OauthClientDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into oauth_client_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        client_id,
      </if>
      <if test="resourceIds != null">
        resource_ids,
      </if>
      <if test="clientSecret != null">
        client_secret,
      </if>
      <if test="scope != null">
        scope,
      </if>
      <if test="authorizedGrantTypes != null">
        authorized_grant_types,
      </if>
      <if test="webServerRedirectUri != null">
        web_server_redirect_uri,
      </if>
      <if test="authorities != null">
        authorities,
      </if>
      <if test="accessTokenValidity != null">
        access_token_validity,
      </if>
      <if test="refreshTokenValidity != null">
        refresh_token_validity,
      </if>
      <if test="additionalInformation != null">
        additional_information,
      </if>
      <if test="autoapprove != null">
        autoapprove,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        #{clientId,jdbcType=CHAR},
      </if>
      <if test="resourceIds != null">
        #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null">
        #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="scope != null">
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="authorizedGrantTypes != null">
        #{authorizedGrantTypes,jdbcType=VARCHAR},
      </if>
      <if test="webServerRedirectUri != null">
        #{webServerRedirectUri,jdbcType=VARCHAR},
      </if>
      <if test="authorities != null">
        #{authorities,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null">
        #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null">
        #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="additionalInformation != null">
        #{additionalInformation,jdbcType=VARCHAR},
      </if>
      <if test="autoapprove != null">
        #{autoapprove,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.faithbj.oauth.as.domain.OauthClientDetailsCriteria" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from oauth_client_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update oauth_client_details
    <set>
      <if test="record.clientId != null">
        client_id = #{record.clientId,jdbcType=CHAR},
      </if>
      <if test="record.resourceIds != null">
        resource_ids = #{record.resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="record.clientSecret != null">
        client_secret = #{record.clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.scope != null">
        scope = #{record.scope,jdbcType=VARCHAR},
      </if>
      <if test="record.authorizedGrantTypes != null">
        authorized_grant_types = #{record.authorizedGrantTypes,jdbcType=VARCHAR},
      </if>
      <if test="record.webServerRedirectUri != null">
        web_server_redirect_uri = #{record.webServerRedirectUri,jdbcType=VARCHAR},
      </if>
      <if test="record.authorities != null">
        authorities = #{record.authorities,jdbcType=VARCHAR},
      </if>
      <if test="record.accessTokenValidity != null">
        access_token_validity = #{record.accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="record.refreshTokenValidity != null">
        refresh_token_validity = #{record.refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="record.additionalInformation != null">
        additional_information = #{record.additionalInformation,jdbcType=VARCHAR},
      </if>
      <if test="record.autoapprove != null">
        autoapprove = #{record.autoapprove,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update oauth_client_details
    set client_id = #{record.clientId,jdbcType=CHAR},
      resource_ids = #{record.resourceIds,jdbcType=VARCHAR},
      client_secret = #{record.clientSecret,jdbcType=VARCHAR},
      scope = #{record.scope,jdbcType=VARCHAR},
      authorized_grant_types = #{record.authorizedGrantTypes,jdbcType=VARCHAR},
      web_server_redirect_uri = #{record.webServerRedirectUri,jdbcType=VARCHAR},
      authorities = #{record.authorities,jdbcType=VARCHAR},
      access_token_validity = #{record.accessTokenValidity,jdbcType=INTEGER},
      refresh_token_validity = #{record.refreshTokenValidity,jdbcType=INTEGER},
      additional_information = #{record.additionalInformation,jdbcType=VARCHAR},
      autoapprove = #{record.autoapprove,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.faithbj.oauth.as.domain.OauthClientDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update oauth_client_details
    <set>
      <if test="resourceIds != null">
        resource_ids = #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null">
        client_secret = #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="scope != null">
        scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="authorizedGrantTypes != null">
        authorized_grant_types = #{authorizedGrantTypes,jdbcType=VARCHAR},
      </if>
      <if test="webServerRedirectUri != null">
        web_server_redirect_uri = #{webServerRedirectUri,jdbcType=VARCHAR},
      </if>
      <if test="authorities != null">
        authorities = #{authorities,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null">
        access_token_validity = #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null">
        refresh_token_validity = #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="additionalInformation != null">
        additional_information = #{additionalInformation,jdbcType=VARCHAR},
      </if>
      <if test="autoapprove != null">
        autoapprove = #{autoapprove,jdbcType=VARCHAR},
      </if>
    </set>
    where client_id = #{clientId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faithbj.oauth.as.domain.OauthClientDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update oauth_client_details
    set resource_ids = #{resourceIds,jdbcType=VARCHAR},
      client_secret = #{clientSecret,jdbcType=VARCHAR},
      scope = #{scope,jdbcType=VARCHAR},
      authorized_grant_types = #{authorizedGrantTypes,jdbcType=VARCHAR},
      web_server_redirect_uri = #{webServerRedirectUri,jdbcType=VARCHAR},
      authorities = #{authorities,jdbcType=VARCHAR},
      access_token_validity = #{accessTokenValidity,jdbcType=INTEGER},
      refresh_token_validity = #{refreshTokenValidity,jdbcType=INTEGER},
      additional_information = #{additionalInformation,jdbcType=VARCHAR},
      autoapprove = #{autoapprove,jdbcType=VARCHAR}
    where client_id = #{clientId,jdbcType=CHAR}
  </update>
</mapper>